@model IEnumerable<Dapper_vs_EF.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dapper", "Dapper")
</p>
<p>
    @Html.ActionLink("EntityFramework", "EntityFramework")
</p>
